<DOCTYPE hmtl>
	<html lang = "fr">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="style1.css">
		<title> Home </title>
	</head>
	<body>
	<div id="header">
		<%- include('header.ejs') %>
	</div>
	<div id="menu">
		<%- include('menu.ejs') %>
	</div>
	<div id="main">
	</div>
	
  	<div id="footer"></div>
 	</body>
	</html>
	