<a href="home">Home</a><br>	
<a href="register">Inscription</a><br>	
<a href="login">Login</a><br>
<a href="upload_image">Ajouter une image</a><br>
<a href="change">Modifier le profil</a><br>
<a href="image">Vos images</a><br>
<a href="all_users">Tous les utilisateurs</a><br>
<a href="search">Recherche</a><br>
<a href="friends">Liste d'amis</a><br>
<form method="get" action="logout">
	<input type="submit" name="logout" value="Déconnecter">
</form>	